<div class="p-8 h-screen">
  <block-example
    title="Different Easings"
    description="Comparison of different easing functions."
    language="html"
    [showBreadcrumbs]="true"
    [exampleTitle]="'Easings'"
    [prevExample]="prevExample"
    [nextExample]="nextExample"
  >
    <div content class="flex gap-8 justify-center items-center">
      <div class="flex gap-2 items-center">
        <div
          motionone
          [initial]="{ scaleY: 1 }"
          [whileHover]="{ scaleY: 2 }"
          [transition]="{ duration: 0.6, ease: 'linear' }"
          class="w-[64px] h-[64px] bg-yellow-200 rounded-lg"
        ></div>
      </div>

      <div class="flex gap-2 items-center">
        <div
          motionone
          [initial]="{ scaleY: 1 }"
          [whileHover]="{ scaleY: 2 }"
          [transition]="{ duration: 0.6, ease: 'easeInOut' }"
          class="w-[64px] h-[64px] bg-yellow-200 rounded-lg"
        ></div>
      </div>

      <div class="flex gap-2 items-center">
        <div
          motionone
          [initial]="{ scaleY: 1 }"
          [whileHover]="{ scaleY: 2 }"
          [transition]="{ duration: 0.6, ease: [0.25, 0.1, 0.25, 1] }"
          class="w-[64px] h-[64px] bg-yellow-200 rounded-lg"
        ></div>
      </div>

      <div class="flex gap-2 items-center">
        <div
          motionone
          [initial]="{ scaleY: 1 }"
          [whileHover]="{ scaleY: 2 }"
          [transition]="{
            duration: 0.6,
            ease: { type: 'spring', stiffness: 400, damping: 10 }
          }"
          class="w-[64px] h-[64px] rounded-lg bg-yellow-200"
        ></div>
      </div>
    </div>

    <ng-template #code>
      {{ codeExample }}
    </ng-template>
  </block-example>
</div>

