<div
  class="overflow-hidden gap-4 w-screen h-screen bg-gray-800"
>
<div class="overflow-y-auto h-screen bg-gray-800" id="scrollContainer">
    <div class="flex flex-col gap-32 pb-80 mx-auto max-w-[1440px]">


        <div 
class="flex relative p-[8rem] bg-slate-900">
<app-post-intro 
[title]="'Motion. A production-grade animation library for the web.'" 
[content]="'Create stunning web animations with our free and open-source library for React, JavaScript and Vue.'" 
[tag]="'Animation library'" 
></app-post-intro>
</div>


<p>features works!</p>
<header>
  <h1>Motion. A production-grade animation library for the web.</h1>
  <p>Create stunning web animations with our free and open-source library for React, JavaScript and Vue.</p>
  <button>Get Started</button>
  <ul>
    <li>Free and</li>

    <li>open-source</li>

    <li>Easy to use</li>
        
        <li>Productionready</li>
        
    <li>Hybrid engine</li>
        
    <li>Robot friendly</li>
        
        <li>Tiny footprint</li>
        
  </ul>
</header>

<section class="features">
<header class="hero">
    <p class="text-sm text-gray-500">Animation library</p>

        <h1>Animations that move</h1>
        <h2>Create high-performance web animations with Motion’s easy-to-use API — from simple transforms to advanced interactive gestures.</h2>
    </header>
    <div class="grid grid-cols-3 gap-4 features-list">

        <app-block-tile-monks
        [title]="'Simple API'"
        [subtitle]="'Motion’s pick-up-and-play API is easy to start and fun to master.'"
    
        />
        <div class="feature">
            <h3>Simple API</h3>
            <p>Motion’s pick-up-and-play API is easy to start and fun to master.

            </p>
        </div>

        <div class="feature">
            <h3>Independent transforms</h3>
            <p>Animate x, y, rotateZ etc independently, without wrapper elements.</p>
        </div>

        <div class="feature">
            <h3>Learn more</h3>
            <p>Learn how to animate with Motion for React</p>
        </div>


        <div class="feature">
            <h3>Exit animation</h3>
            <p>Motion's AnimatePresencemakes it easy to animate elements as they exit.</p>
        </div>

        <div class="feature">
            <h3>Scroll animation</h3>
            <p>Smooth, hardware-accelerated scroll animations.</p>
        </div>

        
        <div class="feature">
            <h3>Gestures</h3>
            <p>Hover, press and drag gestures that feel native, not “webby”.</p>
        </div>
   

        <div class="feature">
            <h3>Timeline sequences</h3>
            <p>Variants, stagger and timelines make it easy to precisely orchestrate animations.</p>
        </div>


        <div class="feature">
            <h3>Layout animation</h3>
            <p>Animate between different layouts with Motion’s industry-leading layout animation engine.</p>
        </div>


        <div class="feature">
            <h3>Spring physics</h3>
            <p>Real spring physics for great-feeling animations.</p>
        </div>
    </div>

    <button>Get started with React animation</button>
    
</section>

</div>
</div>
</div>