<section class="flex flex-col gap-8 h-full">
  <!-- <header>
    @if(title) { <h3 class="text-2xl font-bold text-gray-200">{{ title }}</h3> }
    @if(description) { <p class="text-sm text-gray-400">{{ description }}</p> }
    <ng-content select="header"></ng-content>
  </header> -->
  
  <div class="flex overflow-hidden relative justify-center items-center w-full h-full rounded-lg bg-slate-700" [class.aspect-video]="layout === 'inline'">

    <!-- Breadcrumbs - positioned absolutely at top left -->
    @if (showBreadcrumbs) {
      <div class="flex absolute top-0 left-0 z-50 gap-8 items-center p-16">

        <a class="flex justify-center items-center p-8 w-40 h-40">
          <img class="object-contain w-full h-full" src="assets/angularmotion1--light.svg" alt="logo1">
        </a>
        
        <a
          routerLink="/examples"
          class="text-sm text-gray-300 transition-colors hover:text-white">
          Examples
        </a>
        @if (exampleTitle) {
          <span class="text-gray-500">/</span>
          <span class="text-sm text-gray-500">{{ exampleTitle }}</span>
        }
      </div>
    }


    @if (layout === 'dialog') {
    <div class="flex absolute top-0 right-0 gap-2 p-16">

      <app-button
        label="Source"
        type="secondary"
        size="sm"
        (awClick)="toggleDialog()">
        <span icon-left class="material-icons">code</span>
      </app-button>

      <app-button
      type="secondaryText"
      size="sm"
      (awClick)="toggleDialog()">

      <span icon-right class="material-icons">info_outline</span>

    </app-button>
    </div>
    }

    @if (showBreadcrumbs) {

        <div class="flex absolute right-0 bottom-0 gap-2 p-16">
          @if (prevExample) {
            <a [routerLink]="prevExample.path">
              <app-button
              [label]="prevExample.title"
              type="secondaryText"
              size="sm">
              <span icon-left class="material-icons">chevron_left</span>
            </app-button>
            </a>
          }
          @if (nextExample) {
            <a [routerLink]="nextExample.path">
              <app-button
              [label]="nextExample.title"
              type="secondaryText"
              size="sm">
              <span icon-right class="material-icons">chevron_right</span>
            </app-button>
            </a>
          }
          <app-button type="secondaryText" size="sm" routerLink="/examples">
            <span icon-right class="material-icons">grid_view</span>
          </app-button>
        </div>
      }

    <div class="flex flex-col flex-grow justify-center items-center">
      <ng-content select="[content]"></ng-content>
    </div>
  </div>

</section>

@if (layout === 'dialog' && codeString) {
  <app-dialog
  #exampleDialog
  dialog_id="block-example-dialog"
  role="dialog">
  <div class="flex flex-col gap-4 p-8 bg-slate-800 w-[700px] rounded-lg overflow-hidden">
    <div class="flex justify-between items-center pl-8">
      <span class="flex gap-4 items-center text-xs text-gray-400"><i class="material-icons">code</i> Source code
      </span>
      <app-button
        type="secondaryText"
        size="sm"
        (awClick)="toggleDialog()">
        <span icon-right class="material-icons">close</span>
      </app-button>
    </div>

    <block-code [code]="codeString" [language]="language"></block-code>
  </div>
  </app-dialog>
}
