<div
motionone
style="position: absolute; top:0; left:0"
[initial]="{
  opacity: 1,
  backgroundColor: 'red',
  transform: 'translateX(-100px)'
}"
[animate]="{
  opacity: 1,
  backgroundColor: 'green',
  transform: 'translateX(0px)',
  transition: {
    duration: 1,
    ease: 'ease-in',
    delay:1,

  }
}"
[exit]="{
  opacity: 1,
  scale: 2,
  transform: 'translateX(100px)',
  backgroundColor: 'blue',
  transition: {
    duration: 2,
    ease: 'ease-in-out'
  }
}"
class="grid w-full h-full grid-cols-3 grid-rows-3 gap-4"
>
<h1 class="text-3xl text-white">--------Work-s----s---</h1>
</div>
<app-page-transition></app-page-transition>