<app-logo></app-logo>
<app-block-hero 

class="absolute top-0 left-0 z-50 w-full h-full"
tag="Blog"
title="Tips, __tools__ ![logo](//images.ctfassets.net/4v0tb3n9jpvc/wsC8KQ6aNnu16eiHY37Uc/4ca8fe7f81ce8a6670039e76976e6492/star.svg) 
__rants__ ![logo](//images.ctfassets.net/4v0tb3n9jpvc/wsC8KQ6aNnu16eiHY37Uc/4ca8fe7f81ce8a6670039e76976e6492/star.svg)& __rambles__"
content="sds asdasd asd asda ">
</app-block-hero>

<app-page-transition class="absolute top-0 left-0 z-40 w-full h-full"></app-page-transition>
<!-- <div
motionone
style="position: absolute; top:0; left:0"
[initial]="{
  opacity: 1,
  backgroundColor: 'red',
  transform: 'translateX(-100px)'
}"
[animate]="{
  opacity: 1,
  backgroundColor: 'green',
  transform: 'translateX(0px)',
  transition: {
    duration: 1,
    ease: 'ease-in',
    delay:1,

  }
}"
[exit]="{
  opacity: 1,
  scale: 2,
  transform: 'translateX(100px)',
  backgroundColor: 'blue',
  transition: {
    duration: 2,
    ease: 'ease-in-out'
  }
}"
class="grid w-full h-full grid-cols-3 grid-rows-3 gap-4 test"
>
</div> -->
