<main class="main" style="z-index: 9999; display: block; position: relative;">
  <div class="content">
    <h1 style="color: red;">{{ maxDelay }}</h1>
 
   
    <nav >
      <ul style="display: flex; flex-direction: row; gap: 10px;">
        <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/work" routerLinkActive="active" ariaCurrentWhenActive="page">Work</a></li>
        <li><a routerLink="/bio" routerLinkActive="active" ariaCurrentWhenActive="page">Bio</a></li>
  
      </ul>
    </nav>

  </div>
</main>

  <!-- <div  
  [@routeTransition]="{ value:route.snapshot.data, params: { maxDelay: maxDelay }}">
    <router-outlet></router-outlet>
</div> -->


<motion-host>
  <router-outlet></router-outlet>
</motion-host>

<!-- <router-outlet #outlet="outlet"></router-outlet> -->

