<div
motion
[initial]="{ opacity: .6}"
[animate]="{ opacity: 1}"
[exit]="{ opacity: 1}"
[duration]="'0.5s'"
[delay]="'1s'"
[easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
style="z-index: 9; border: 10px solid blue;display: flex; flex-direction: column; padding: '20px';"
>
<ng-content></ng-content>
</div>

<!-- <div
motion
[initial]="{backgroundColor:'purple',opacity:1}"
[animate]="{backgroundColor:'green',opacity:0}"
[exit]="{backgroundColor:'red',opacity:1}"
[duration]="'1s'"
[delay]="'0s'"
[easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
style="z-index: 99; position: fixed; top:0; left:0; width:100%; height: 100%;"
class="text-red"
>
    
</div> -->