<app-page-transition>

  <h1 style="color: black; position: absolute; top: 0; right: 0; z-index: 900">
    {{ status }}{{animatedStyle()}}
  </h1>


  <button class="fixed right-0 z-50 p-2 text-white bg-red-500 rounded-md top-6" (click)="changeStatus()">Change Status</button>
  <!-- 
@if(isPanelOpen) {

  <div
  motion
  
  [exit]="{ left:'10px',top:'10px', backgroundColor: 'red' }"
  [duration]="'.4s'"
  [delay]="'0s'"
  [easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
  
  style="position:absolute; width: 100px; height: 100px; background-color: yellowgreen;"
  >
  
  </div>
  
} -->
<!-- <div
    motion
    [variants]="foodVariants"
    [animate]="status"
    style="
      height: 100px;
      width: 100px;
      background-color: red;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
    "
  >
    Hello
  </div>
<div
motion
[initial]="{
  backgroundColor: 'red',
  scale: 1,
  transform: 'translateX(0px)'
}"
[animate]="{
  backgroundColor: 'hotpink',
  scale: 1,
  transform: 'translateX(100px)'
}"
[duration]="'.5s'"
class="fixed top-0 left-0 w-[100px] h-[100px] z-50"
>
<p>{{ scrollProgress }}%</p>
</div> -->
<div
motion
[animate]="{
  translateY:animatedStyle().transform,
  transform:animatedStyle().transform
}"
class="fixed top-16 left-16 w-[100px] h-[100px] z-50 bg-red-500"
>
<p>{{ scrollProgress }}% {{animatedStyle().transform}}</p>
</div>

  <div
    motion
    style="height: 500px"
    [initial]="{
      left: '10px',
      opacity: 1,
      backgroundColor: 'black',
      transform: 'translateX(0px)'
    }"
    [animate]="{
      left: '100px',
      opacity: 1,
      backgroundColor: 'purple',
      transform: 'translateX(100px)'
    }"
    [exit]="{
      left: '10px',
      opacity: 1,
      backgroundColor: 'orange',
      transform: 'translateX(0px)'
    }"
    [duration]="'3s'"
    [easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
    [staggerChildren]="'1s'"
    (animationComplete)="onAnimationComplete()"
  >
    <h1>HOMsE</h1>
    <div
      motion
      [initial]="{
        backgroundColor: 'red',
        scale: 1,
        transform: 'translateX(0px)'
      }"
      [animate]="{
        backgroundColor: 'blue',
        scale: 1,
        transform: 'translateX(100px)'
      }"
      [duration]="'.5s'"

      style="height: 100px; width: 100px; background-color: red"
    >
      Hello
    </div>
    <div
      motion
      [initial]="{
        backgroundColor: 'red',
        scale: 1,
        transform: 'translateX(0px)'
      }"
      [animate]="{
        backgroundColor: 'aqua',
        scale: 1,
        transform: 'translateX(100px)'
      }"
      [duration]="'.5s'"

      style="height: 100px; width: 100px; background-color: red"
    >
      Hello
    </div>
    <div
    motion
    [initial]="{
      backgroundColor: 'red',
      scale: 1,
      transform: 'translateX(0px)'
    }"
    [animate]="{
      backgroundColor: 'aqua',
      scale: 1,
      transform: 'translateX(100px)'
    }"
    [duration]="'.5s'"
    style="height: 100px; width: 100px; background-color: red"
  >
    Hello
  </div>
  </div>


  <div
    motion
    style="height: 500px"
    [initial]="{
      left: '10px',
      opacity: 1,
      backgroundColor: 'black',
      transform: 'translateX(0px)'
    }"
    [animate]="{
      left: '100px',
      opacity: 1,
      backgroundColor: 'orange',
      transform: 'translateX(200px)'
    }"
    [exit]="{
      left: '10px',
      opacity: 1,
      backgroundColor: 'orange',
      transform: 'translateX(0px)'
    }"
    [duration]="'3s'"
    [easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
    [staggerChildren]="'1s'"

  >
    <h1>HOMsE222222</h1>
    </div>

  <div
    motion
    [repeat]="true"
    [offset]="'100px'"
    style="height: 500px"
    [initial]="{
      left: '10px',
      opacity: 1,
      backgroundColor: 'red',
      transform: 'translateX(0px)'
    }"
    [inView]="{
      left: '100px',
      opacity: 1,
      backgroundColor: 'purple',
      transform: 'translateX(100px)'
    }"
    [exit]="{
      left: '10px',
      opacity: 1,
      backgroundColor: 'orange',
      transform: 'translateX(0px)'
    }"
    [duration]="'.4s'"
    [delay]="'0s'"
    [easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"

  >
    <h1>HOsssssME</h1>
  </div>
</app-page-transition>
