
<app-page-transition>

  <div
  motion
  style="height: 500px;"
  [initial]="{ left:'10px', opacity: 1, backgroundColor: 'black', transform: 'translateX(0px)' }"
  [animate]="{ left:'100px', opacity: 1, backgroundColor: 'purple', transform: 'translateX(100px)' }"
  [exit]="{ left:'10px', opacity: 1, backgroundColor: 'orange', transform: 'translateX(0px)' }"
  [duration]="'.4s'"
  [delay]="'0s'"
  [easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
  (animationComplete)="onAnimationComplete()"

>
<h1>HOME</h1>
</div>

<div
motion
style="height: 500px;"
[initial]="{ left:'10px', opacity: 1, backgroundColor: 'orange' }"
[animate]="{ left:'100px', opacity: 1, backgroundColor: 'blue' }"
[exit]="{ left:'10px', opacity: 1, backgroundColor: 'orange' }"
[duration]="'.4s'"
[delay]="'0s'"
[easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
(animationComplete)="onAnimationComplete()"

>
<h1>HOME</h1>
</div>

<div
motion
style="height: 500px;"
[initial]="{ left:'10px', opacity: 1, backgroundColor: 'black', transform: 'translateX(0px)' }"
[animate]="{ left:'100px', opacity: 1, backgroundColor: 'purple', transform: 'translateX(100px)' }"
[exit]="{ left:'10px', opacity: 1, backgroundColor: 'orange', transform: 'translateX(0px)' }"
[duration]="'.4s'"
[delay]="'0s'"
[easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
(animationComplete)="onAnimationComplete()"

>
<h1>HOME</h1>
</div>

<div
motion
[initial]="{left:'10px',top:'10px'}"
[animate]="{left:'100px',top:'100px'}"
[exit]="{ left:'10px',top:'10px' }"
[duration]="'.4s'"
[delay]="'0s'"
[easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
(animationComplete)="onAnimationComplete()"
class="bg-red-400"
style="position:absolute; width: 100px; height: 100px; background-color: aqua;"
>

</div>

<div
motion
[repeat]="true"
[offset]="'100px'"
style="height: 500px;"
[initial]="{ left:'10px', opacity: 1, backgroundColor: 'red', transform: 'translateX(0px)' }"
[inView]="{ left:'100px', opacity: 1, backgroundColor: 'purple', transform: 'translateX(100px)' }"
[exit]="{ left:'10px', opacity: 1, backgroundColor: 'orange', transform: 'translateX(0px)' }"
[duration]="'.4s'"
[delay]="'0s'"
[easing]="'cubic-bezier(0.68, -0.6, 0.32, 1.6)'"
(animationComplete)="onAnimationComplete()"

>
<h1>HOsssssME</h1>
</div>

</app-page-transition>