.c-navbar{
  position: fixed;
  top:1rem;
  margin: 0 auto;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: color-mix(in srgb, var(--surface2), transparent 80%);
  max-width:var(--containerWidth);
  min-width:800px;

  border-radius: var(--borderRadius);
  z-index:var(--z-index-sticky);
  backdrop-filter: blur(10px);

  @media (min-width: var(--containerWidth)) {
    min-width:var(--containerWidth);

    padding:0 2rem;
  }

  img{
    width:48px;
    height:48px;
    object-fit: contain;
    border-radius: var(--borderRadius);
    overflow: hidden;
  }
}

.c-navbar__logo{
  display: flex;
  width:40px;
  height:40px;
  object-fit: contain;
  border-radius: var(--borderRadius);
  overflow: hidden;
  background-color: rgba(131, 230, 247, 0.1);
  cursor: pointer;
}

.c-navbar__menu{
  display: flex;
  flex-direction: row;
  gap:4px;

  ul{
    list-style: none;
  }


  li{
    display: flex;
    align-items: center;
  }

}

.c-navbar__menuitem{
  padding:var(--button-padding-y) var(--button-padding-x);
  font-size: var(--button-font-size);
  border-radius: var(--button-border-radius);
  font-family: var(--font-family);
  color: var(--text);
  cursor: pointer;
  transition:color 300ms ease-in-out;

  &.active{
    color: var(--textHighlight);
  }

  &:hover{
    color: var(--textHighlight);
  }
}

