<nav
  #menuRef
  class="c-navbar"
>
  <a class="c-navbar__logo">
    <img  src="assets/angularmotion1--light.svg" alt="logo1">
  </a>

  <ul class="c-navbar__menu" role="menu">

<!--    <li>-->
<!--      <a routerLink="/work" routerLinkActive="active" class="c-navbar__menuitem">Work</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/play" routerLinkActive="active" class="c-navbar__menuitem">Play</a>-->
<!--    </li>-->
<!--    <li>
      <a routerLink="/features" routerLinkActive="active" class="c-navbar__menuitem">Features</a>
    </li>-->

    <li>
      <a routerLink="/docs" routerLinkActive="active" class="c-navbar__menuitem">Docs</a>
    </li>

    <li>
      <a routerLink="/examples" routerLinkActive="active" class="c-navbar__menuitem">Examples</a>
    </li>

   <!-- <li>
      <a routerLink="tutorials" routerLinkActive="active" class="c-navbar__menuitem">Tutorials</a>
    </li>
    <li>
      <button>search</button>
    </li>
    <li>
      <button>Pro</button>
    </li>-->
  </ul>
</nav>

  <!-- <app-navbar-awwwards-->
<!--[pages]="pages"-->
<!--[activePage]="activePage"-->
<!--[currentTheme]="themeService.currentTheme"-->
<!--(navClick)="handleNavClick($event)"-->
<!--&gt;</app-navbar-awwwards>-->

<!--<app-navbar-applause-->
<!--[pages]="pages"-->
<!--[activePage]="activePage"-->
<!--[currentTheme]="themeService.currentTheme"-->
<!--(navClick)="handleNavClick($event)"-->
<!--&gt;</app-navbar-applause>-->

<!-- <ng-container [ngSwitch]="themeService.currentTheme.data.navTheme">
    <app-navbar-awwwards
      *ngSwitchCase="'awwwards'"
      [pages]="pages"
      [activePage]="activePage"
      [currentTheme]="themeService.currentTheme"
      (navClick)="handleNavClick($event)"
    ></app-navbar-awwwards>

    <app-navbar-applause
      *ngSwitchCase="'applause'"
      [pages]="pages"
      [activePage]="activePage"
      [currentTheme]="themeService.currentTheme"
      (navClick)="handleNavClick($event)"
    ></app-navbar-applause>
  </ng-container>
  -->
